@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Upright';
  src: local('Upright'),
  url('./assets/fonts/Upright.ttf') format('truetype')
}

.shadowed-greeting{
  text-shadow: 
    3px 3px 0 black, 
    -3px -3px 0 black,
    3px -3px 0 black,
    -3px 3px black;  
}

.shadowed-preview{
  text-shadow: 
    1px 1px 0 black, 
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px black;  
}

.shadowed-buttons{
  text-shadow: 
    1.5px 1.5px 0 black, 
    -1.5px -1.5px 0 black,
    1.5px -1.5px 0 black,
    -1.5px 1.5px black;  
}

body {
  background-color: #394853;
}

